.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px;
  border-end-end-radius: 0;
  object-fit: cover;
  background-size: cover;
  background-color: black;
}
.element__image:hover {
  cursor: pointer;
}
