.popup__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 54px;
  margin-left: 36px;
  margin-bottom: 14px;
  color: #000000;
  max-width: 358px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background-color: #ffffff;
  outline: none;
}

@media (max-width: 610px) {
  .popup__name {
    font-size: 14px;
    line-height: 17px;
    margin-top: 75px;
    margin-left: 22px;
    margin-bottom: 13px;
  }
}
