.profile__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: baseline;
  max-width: 360px;
  display: grid;
  gap: 7px 18px;
  grid-template-areas:
    "profile__title profile__button"
    "profile__text profile__text";
  grid-template-columns: auto 1fr;
}

@media (max-width: 755px) {
  .profile__content {
    align-items: center;
  }
}
