.profile__button {
  margin: 37px 0 0 18px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/buttion.svg);
  position: absolute;
  top: -21px;
  right: -37px;
  background-color: transparent;
  border: 1px solid #fff;
}

.profile__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 626px) {
  .profile__button {
    margin: 0;
    background-image: url(../../../images/butionmin.svg);
    width: 18px;
    height: 18px;
    top: 7px;
    right: -33px;
  }
}
