.popup__input-error_active {
  opacity: 1;
  padding-top: 5px;
  margin-right: 9%;
  margin-left: 9%;
  min-height: 30px;
  width: 352px;
  visibility: visible;
}

@media (max-width: 750px) {
  .popup__input-error_active {
    width: 254px;
    max-width: 254px;
    font-size: 10px;
  }
}
@media (max-width: 610px) {
  .popup__input-error_active {
    width: 195px;
    max-width: 195px;
    font-size: 10px;
  }
}
